body {
    background-image: linear-gradient(to right, red,aqua,pink);
}

#heading_1 {
    text-align: center;
    text-shadow: 10rem;
    font-size: 50px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

border1 {
    width: 300px;
    border: 20px dotted greenyellow;
    padding: 50px;
    margin: 25px;
}